@import "fonts.less";
@import "var.less";

body {
	max-width: 1366px;
	margin: 0 auto;
}

.page-header {
	background: url(../img/mountain.jpg) no-repeat;
	min-height: 650px;
	color: #FCFCFC;
	font-family: Roboto;
	font-style: normal;
	font-size: 16px;
	line-height: 19px;

	&__logo {
		margin-top: 43px;
	}

}

.main-nav {
	display: flex;
	max-width: 1170px;
	margin: 0 auto;



	&__list {
		display: flex;
		.reset-list;
		margin-left: 100px;
		margin-top: 43px;


	}

	&__link {
		text-decoration: none;
		color:inherit;

		&:hover {
			
			text-decoration: underline;
		}
		
	}

	&__item {
		margin-right: 30px;
	}

	&__contacts {
		margin-left: 265px;
	}
}

.contacts {
	margin-left: auto;
	margin-top: 35px;


	&__phone {
		color:inherit;
	}

	&__item {
		display: inline-block;
		width:35px;
		height: 35px;
		border-radius: 50%;
		background-color: rgba(252, 252, 252, 0.4);
		background-repeat: no-repeat;
		background-position: center;

		&:hover {
			filter: invert(100%);
		}

		&--search {
			background-image: url(../img/lens.svg);
			margin-right: 27px;

		}

		&--user {
			background-image: url(../img/men.svg);

		}
	}
}