@import "fonts.less";
@import "var.less";

body {
	max-width: 1366px;
	margin: 0 auto;
}

.page-header {
	background: url(../img/mountain.jpg) no-repeat;
	min-height: 650px;
	color: #FCFCFC;
	font-family: Roboto;
	font-style: normal;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	margin-bottom: 135px;

	&__logo {
		margin-top: 43px;
	}

	&__title {
		font-family: Oswald, Arial, Helvetica, sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 98px;
		line-height: 145px;
		margin: 0;
		margin-top: 165px;
		margin-bottom: 18px;
	}

	&__details {
		display: block;
		width: 170px;
		height: 45px;
		border: 2px solid #FCFCFC;
		color: #FCFCFC;
		padding-top: 10px;
		margin: 0 auto;
	}

}

.main-nav {
	display: flex;
	max-width: 1170px;
	margin: 0 auto;



	&__list {
		display: flex;
		.reset-list;
		margin-left: 100px;
		margin-top: 43px;


	}

	&__link {
		text-decoration: none;
		color:inherit;

		&:hover {
			
			text-decoration: underline;
		}
		
	}

	&__item {
		margin-right: 30px;
	}

	&__contacts {
		margin-left: 265px;
	}
}

.contacts {
	margin-left: auto;
	margin-top: 35px;


	&__phone {
		color:inherit;
		cursor: default;
	}

	&__item {
		display: inline-block;
		width:35px;
		height: 35px;
		border-radius: 50%;
		background-color: rgba(252, 252, 252, 0.4);
		background-repeat: no-repeat;
		background-position: center;

		&:hover {
			filter: invert(100%);
		}

		&--search {
			background-image: url(../img/lens.svg);
			margin-right: 27px;

		}

		&--user {
			background-image: url(../img/men.svg);

		}
	}
}

.page-main {
	
	&__description {
		display: flex;
		margin-left: 98px;
	}

	&__text {
		max-width: 472px;
	}

	&__header {
		font-family: Oswald;
font-style: normal;
font-weight: 600;
font-size: 52px;
margin: 0;
line-height: 115%;
	}

	&__about {
		max-width: 350px;
		font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
margin:0;
margin-top: 37px;
line-height: 150%;
    &:last-child {
    	margin-top: 14px;
    }

	}

	&__map {
		//max-width: 798px;
        max-height: 376px;
        margin-top: 87px;
	}

	&__popular {
		margin-left: 98px;
		max-width: 1170px;
	}

	&__cards {
		display: flex;
		justify-content: space-between;


}

	}

	&__card {
		width:370px;
		height: 370px;
	}
}


.card1 {
	//background: url(../img/beluha.jpg) no-repeat center;

}